{% extends "blog/base.html" %}
{% block content %}
    <article class="media content-section">
      <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{% url 'user-post' object.author.username %}">{{ object.author }}</a>
          <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
          {% if object.author == user %}
              <div>
                <a class="btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
                <a class="btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
              </div>
          {% endif %}
        </div>
        <h2 class="article-title">{{ object.title }}</h2>
        <p class="article-content">{{ object.content }}</p>

        {% if post.tags.all %}
            <div>
                <a>Tags:</a>
                {% for tag in post.tags.all %}
                    <a href="{% url 'tag-post' tag %}">#{{ tag }}</a>
                {% endfor %}

            </div>
        {% endif %}
      </div>
    </article>
    <h4 class="article-content">Comments ({{ post.comments.count }}):
    </h4>
    <a class="btn-secondary btn-sm mt-1 mb-1" href="{% url 'comment-create' post.pk %}">Add comment</a>
    {% for comment in post.comments.all %}
    <article class="media content-section">
      <img class="rounded-circle article-img" src="{{ comment.name.profile.image.url }}">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" >{{ comment.name }}</a>
          <small class="text-muted">{{ comment.created|date:"F d, Y" }}</small>
<!--          {% if comment.name == user %}-->
<!--              <div>-->
<!--                <a class="btn-secondary btn-sm mt-1 mb-1" href="#">Update</a>-->
<!--                <a class="btn-danger btn-sm mt-1 mb-1" href="#">Delete</a>-->
<!--              </div>-->
<!--          {% endif %}-->
        </div>
        <p class="article-content">{{ comment.body }}</p>

      </div>
    </article>
    {% endfor %}
{% endblock %}