{% extends "blog/base.html" %}
{% block content %}
    <h1>Posts by tag "{{ view.kwargs.title }}":</h1>
    <h2>{{ current_tag.description }}</h2>
    {% for post in posts %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}" alt="">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{% url 'user-post' post.author.username %}">{{ post.author }}</a>
              <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
                <p class="article-content">{{ post.content }}</p>
            {% if post.tags.all %}
                <div class="article-metadata"></div>
                    <div>
                        <a>Tags:</a>
                        {% for tag in post.tags.all %}
                            <a href="{% url 'tag-post' tag %}">#{{ tag }}</a>
                        {% endfor %}

                    </div>
            {% endif %}
              <div class="article-metadata"></div>
                <div class="media-body">
                    <a href="{% url 'post-detail' post.id %}">Comments({{ post.comments.count }})</a>
                </div>
          </div>
        </article>
    {% endfor %}
{% endblock %}